@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Slab:wght@300;800&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins ;
}
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* ------------ navbar style start ---------- */
nav{
    width: 100%;
    height: 80px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: #191919;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-div img{
    height: 40px;
}
.nav-link li{
    display: inline;
    list-style: none;
    padding: 0 30px;
}
.fa-bars{
    display: none  !important;
    color: white;
    font-size: 25px;
}
/* -------------- banner style start -------- */
.banner{
    width: 100%;
    min-height:100%;
    max-height: fit-content;
    background-color: #ffc400;
    padding: 30px 0px;
}
.banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
}
.banner-details{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right:50px ;
    color: white;
}
.banner-details h1{
    font-size: 50px;
}
.banner-details p{
    font-size: 20px;
    margin: 10px 0;
}
.btn{
    width: 120px;
    font-size: 15px;
    font-weight: bold ;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.contact-btn{
    background-color: #191919;
    border: 2px solid #191919;
}
.service-btn{
    background-color: transparent ;
    border: 2px solid white;
    margin: 10px;
}
.banner-img-div {
    width: 40%;
    display: flex;
    align-items: center;
}
.banner-img-div img{
    width: 320px;
}
/* ------------------ --- veter section style ------------ */
.veter{
    width: 100%;
    min-height:100vh;
    max-height: fit-content;
}
.veter-content{
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
.veter-details{
    width: 50%;
    padding: 20px;
}
.veter-details h1{
    font-size: 40px;
    color: #2d2f43;
    line-height: 50px;
}
.veter-details p {
    font-size: 20px;
    margin: 20px 0;
    color: #565666;
}
.veter-details .our-service-btn{
    background-color: #ffc400;
    border-color: #ffc400;
    border: none;
    padding: 15px 10px;
}
.veter-img-div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .veter-img-div img{
    width: 90%;
    height: 70%;
}
/* --------------------------- doctor section style ----------------- */
.doctor-section{
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #ffc400;
    padding:30px 0px;
}
.title-div{
    text-align: center;
    color: white;
    padding: 20px 150px;
}
.title-div h1{
    font-size: 50px;
}
.title-div p{
    font-size: 20px;
}
.doctor-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.doctor-content{
    width: 32%;
}
.doctor-content img{
    width: 100%;
}
.doctor-details {
    padding: 20px 10px;
    text-align: center;
    color: white;
}
.doctor-details h1{
    font-size: 30px;
}
/* ---------------------- second veterinarian section style ------------ */
.second-veter-details{
    text-align: right;
}
/* ------------------------ dog section style */
.delete{
    position: relative;
    margin: 0 20px;
}
.delete::after{
    content: '';
    width: 100px;
    height: 4px;
    background-color: white ;
    position: absolute;
    top: 50%;
    left: -40%;
}
.buy-now{
    width: 120px;
    font-size: 15px;
    font-weight: bold ;
    color: white;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 50px;
    background-color: black ;
    cursor: pointer;
}